<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>MeetUpWebApplication</display-name>
  <welcome-file-list>
    <welcome-file>Home.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <!-- <context-param>
    <param-name>jdbcConnect</param-name>
    <param-value>oracle.jdbc.driver.OracleDriver</param-value>
  </context-param>
  <context-param>
    <param-name>DBURL</param-name>
    <param-value>jdbc:oracle:thin:@172.16.203.151:1521/xe</param-value>
  </context-param>
  <context-param>
    <param-name>DBUsername</param-name>
    <param-value>jsushmita</param-value>
  </context-param>
  <context-param>
    <param-name>DBPassword</param-name>
    <param-value>prokarma</param-value>
  </context-param> -->
  <servlet>
    <servlet-name>LoginValidate</servlet-name>
    <servlet-class>com.pk.Login.LoginValidate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginValidate</servlet-name>
    <url-pattern>/LoginValidate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Subscribe</servlet-name>
    <servlet-class>com.pk.meetup.Subscribe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Subscribe</servlet-name>
    <url-pattern>/Subscribe</url-pattern>
  </servlet-mapping>
</web-app>